<div class="container w-50">
<h2 class="title-form">Edit your profile</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Confirm your email: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Leave it blank if you don't want to change it.",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "Insert your current password to confirm changes.",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :photo,
                hint: "Have a better selfie?",
                required: true %>
 </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn-upd btn align-self-end" %>
  </div>
<% end %>
  <div class="form-actions">
    <%= link_to "Cancel my account", registration_path(resource_name), class: "btn-glow-danger btn btn-danger align-self-end mt-3", data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
  <%= link_to 'Back', root_path, class: "btn-glow btn btn-outline-light align-self-end mt-3" %>
</div>
