<div
class="bg-image d-flex justify-content-center align-items-center text-center mb-5 text-white mt-0"
style="background-image: url('https://cdn.dribbble.com/users/891352/screenshots/2535126/media/15629971e40c0f5c4d43af9f892db706.gif'); height: 35vh">
  <div>
    <h1 class="fw-bold">Cheap Ships</h1>
    <p class="">Buy and sell the perfect ride.</p>
  </div>
</div>

 <%= render "carroussel", vehicles: @vehicles.first(5)%>


<div class="container">
  <div class="row mt-5">
    <% @vehicles.each do |vehicle| %>
      <div class="col-12 col-md-6">
        <div class="">
          <% if vehicle.photos.attached? %>
            <%= cl_image_tag vehicle.photos[0].key, class: "card-img-top" %>
          <% else %>
            <%= image_tag 'placeholder.jpg',
                                height: 200, crop: :fill %>
          <% end %>
          <div class="card border-secondary mb-3">
            <div class="card-header bg-transparent border-secondary pt-3">
              <h5><%= link_to vehicle.name, vehicle_path(vehicle) %></h5>
            </div>
            <div class="card-body bg-transparent card-size bg-opacity-50 border-end-0">
              <p class="mb-1"><%= vehicle.description %></p>
            </div>
            <div class="card-footer bg-transparent bg-opacity-50 d-flex gap-2 border-top-0">
              <button type="button" class="btn btn-dark align-self-end">
              <%= link_to 'View Details', vehicle_path(vehicle) %></button>
              <%= simple_form_for([vehicle, @order]) do |f| %>
                  <%= f.input :vehicle_id, as: :hidden, value: vehicle.id %>
                  <%= f.input :user_id, as: :hidden, value: current_user&.id %>
                  <%= f.button :submit, class: "btn btn-dark align-self-end" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'New Vehicle', new_vehicle_path %>
    <% end %>
  </div>
</div>
