<div
class="bg-image d-flex justify-content-center align-items-center text-center mb-5 text-white mt-0">
  <div>
     <%= render "glitch_cheap_ships" %>
  </div>
</div>

<% if @vehicles.length > 5 %>
 <%= render "carroussel", vehicles: @vehicles.first(5)%>
 <%else %>
 <%= render "carroussel", vehicles: @vehicles%>
 <% end %>



<div class="container">
  <div class="row mt-5 d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6 d-flex justify-content-between align-items-center">
      <%= render 'search-bar' %>
      <p class="p-index"> | </p>
      <% if user_signed_in? %>
        <%= link_to 'Sell a Ship', new_vehicle_path, class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <% @vehicles.each do |vehicle| %>
      <div class="col-12 col-md-6">


          <div class="card card-neon border-secondary mb-3">
            <% if vehicle.photos.attached? %>
              <%= cl_image_tag vehicle.photos[0].key, class: "card-img-top" %>
            <% else %>
              <%= image_tag 'placeholder.jpg', class: "card-img-top" %>
            <% end %>
            <div class="card-header bg-transparent border-secondary pt-3">
              <h5><%= link_to vehicle.name, vehicle_path(vehicle) %></h5>
            </div>
            <div class="card-body bg-transparent card-size bg-opacity-50 overflow-auto">
              <p class="mb-1"><%= vehicle.description %></p>
            </div>
            <div class="card-footer bg-transparent bg-opacity-50 d-flex gap-2 border-top-0">
              <%= link_to 'View Details', vehicle_path(vehicle), class: "btn-glow btn btn-outline-light align-self-end" %>
              <% if vehicle.user == current_user %>
                <%= link_to 'Delete Vehicle', vehicle_path(vehicle), method: 'DELETE', data: { confirm: 'Are you sure?' }, class: "btn-glow-danger btn btn-danger align-self-end" %>
                <% else %>
                <%= simple_form_for([vehicle, @order]) do |f| %>
                    <%= f.input :vehicle_id, as: :hidden, value: vehicle.id %>
                    <%= f.input :user_id, as: :hidden, value: current_user&.id %>
                    <%= f.button :submit, 'Buy it Now!', class: "btn-buy btn align-self-end" %>
                <% end %>
              <% end %>
            </div>
          </div>

      </div>
    <% end %>
  </div>
</div>
