<div class="container">
  <div class="row">
    <div class="column">
      <div class="card my-5">
      </div>
    </div>
  </div>

        <%=render "carouselshow"%>

  <div class="row mb-3">
    <div class="col-12">
      <h2 class="mb-3"><%= @vehicle.name %></h2>
      <hr>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-md-6">
     <div class="card border-secondary mb-3">
        <div class="card-header bg-transparent border-secondary pt-3">
          <h5 class = card-title>Details</h5>
        </div>
        <div class="card-body bg-transparent bg-opacity-50">
          <p class="mb-1"><strong>Category:</strong> <%= @vehicle.category %></p>
          <p class="mb-1"><strong>Year:</strong> <%= @vehicle.year %></p>
          <p class="mb-1"><strong>Kilometer: </strong><%= @vehicle.kilometer %></p>
          <p class="mb-1"><strong>Price:</strong> <%= (@vehicle.price.to_f / 100) %></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
     <div class="card border-secondary mb-3">
        <div class="card-header bg-transparent border-secondary pt-3">
          <h5>Description</h5>
        </div>
        <div class="card-body bg-transparent bg-opacity-50">
          <p class="mb-1"><%= @vehicle.description %></p>
        </div>
      </div>
    </div>
  </div>
  <% if policy(@vehicle).edit? %>
    <%= link_to "Edit Vehicle", edit_vehicle_path(@vehicle), class: "btn btn-dark align-self-end"%>
  <% end %>

  <% if policy(@vehicle).destroy? %>
    <%= link_to "Delete Vehicle", vehicle_path(@vehicle), method: 'DELETE', data: { confirm: 'Are you sure?' }, class: "btn btn-dark align-self-end" %>
  <% else %>
    <%= simple_form_for([@vehicle, @order]) do |f| %>
      <%= f.input :vehicle_id, as: :hidden, value: @vehicle.id %>
      <%= f.input :user_id, as: :hidden, value: current_user&.id %>
      <%= f.button :submit, 'Buy it Now!', class: "btn btn-dark align-self-end" %>
    <% end %>
  <% end %>

  <%= link_to 'Back', root_path, class: "btn btn-dark align-self-end" %>
</div>






<%# <% if vehicle.user == current_user %>
    <%# if policy(@vehicle).destroy? %>
      <%#= link_to "Delete Vehicle", vehicle_path(@vehicle), method: 'DELETE', data: { confirm: 'Are you sure?' }, class: "btn btn-dark align-self-end" %>
  <%# end %>
<%# else %>
  <%#= simple_form_for([vehicle, @order]) do |f| %>
  <%#= f.input :vehicle_id, as: :hidden, value: vehicle.id %>
  <%#= f.input :user_id, as: :hidden, value: current_user&.id %>
  <%#= f.button :submit, 'Buy it Now!', class: "btn btn-dark align-self-end" %>
  <%# end %>
<%# end %>
